<div class="project__section">
  <div class="project__container">
    <div class="nav__bar">
      <ul>
        <li class="home" (click)="onHome()">Home</li>
        <li class="about" (click)="onConnect()">About</li>
        <!-- <li class="expertise" (click)="onExpertise()">Expertise</li> -->
        <li class="project" (click)="onProject()">Projects</li>
        <li class="resume" (click)="onResume()">Resume</li>
        <li class="contact" (click)="onContact()">Contact Me</li>
      </ul>
    </div>
    <div class="project__hero">
      <div class="project__top">
        <!-- <h1 class="project__title">Project Collection</h1> -->
        <p class="project__description">
          Project Collections: Explore my project collections,
          <span>
            where creativity meets innovation and passion ignites
            excellence.</span
          >
        </p>
        <p class="project__paragraph">
          Dive into a curated selection of my most captivating and impactful
          projects, showcasing my expertise, craftsmanship, and dedication to
          excellence.
        </p>
        <!-- <p> From stunning web designs to cutting-edge app/web
            developments, each project in my collection tells a unique story of
            collaboration, innovation, and success.</p> -->
      </div>
      <!-- Project One -->
      <div class="project__grid">
        <div class="project__mid">
          <div class="project__mid__bottomCowry"></div>
          <div class="project__mid__top">
            <div class="mid__top">
              <!-- <div class="project__number">04  </div> -->
              <div class="project__heading">Redesigned Cowrywise Platform</div>
            </div>
            <div class="project__text">
              Led the redesign of the CowryWise platform, focusing on improving
              user experience. Updated the interface for a more modern and
              intuitive design. Streamlined navigation for easier access to key
              features. Enhanced mobile responsiveness for seamless use across
              devices. Optimized financial management tools to improve user
              engagement and control.
            </div>
            <div class="btn__link">
              <div class="link__one">
                <a
                  target="_blank"
                  href="https://www.figma.com/proto/h7onAgiHqj97sZtp45k9Td/Wallet-Redesign?node-id=15-55&t=OTI5dGohBngFyeMf-0&scaling=scale-down-width&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=10%3A4"
                >
                  Preview
                </a>
              </div>
              <!-- <div class="link__two">Case Study</div> -->
            </div>
          </div>
        </div>

        <!-- Project Two -->
        <div class="project__mid">
          <div class="project__mid__bottomTwo"></div>
          <div class="project__mid__top">
            <div class="mid__top">
              <!-- <div class="project__number">02</div> -->
              <div class="project__heading">Custom Wedding Website</div>
            </div>
            <div class="project__text">
              This case study explores the creation of a bespoke wedding website
              designed to capture the unique love story of Rebecca & Ayokanmi.
              The website serves as a central hub for wedding details, guest
              information, RSVP management, and personalized content, offering a
              seamless and memorable experience for the couple and their guests.
            </div>
            <div class="btn__link">
              <div class="link__one">
                <a target="_blank" href="https://www.special24.com.ng/">
                  Preview
                </a>
              </div>
              <div class="link__two" (click)="weddingCase()">Case Study</div>
            </div>
          </div>
        </div>
      </div>

      <div class="project__grid">
        <div class="project__mid">
          <div class="project__mid__bottom"></div>
          <div class="project__mid__top">
            <div class="mid__top">
              <!-- <div class="project__number">03</div> -->
              <div class="project__heading">MIV Leadership Institute</div>
            </div>
            <div class="project__text">
              The Certified Transformational Leadership Training is an intensive
              program designed to equip current and aspiring leaders with the
              skills, knowledge, and mindset necessary to drive meaningful
              change within their organizations, redemptive communities, and
              God-given mandate. This training program emphasizes the
              development of leaders who are not only capable of guiding teams,
              missions and organizations but also inspiring and empowering
              individuals to achieve their fullest potential.
            </div>
            <div class="btn__link">
              <div class="link__one">
                <a target="_blank" href="https://menofissacharvision.com/mli">
                  Preview
                </a>
              </div>
              <!-- <div class="link__two">Case Study</div> -->
            </div>
          </div>
        </div>
        <!-- Project Two -->
        <div class="project__mid">
          <div class="project__mid__bottomm"></div>
          <div class="project__mid__top">
            <div class="mid__top">
              <div class="project__heading">
                Vaccination Appointment Platform
              </div>
            </div>
            <div class="project__text">
              A user-friendly platform designed to streamline the vaccination
              scheduling process. It allows individuals to find nearby
              vaccination centers, book appointments, receive reminders, and
              access digital vaccination records. Built with a focus on
              accessibility, real-time updates, and secure data handling for
              both users and healthcare providers.
            </div>
            <div class="btn__link">
              <div class="link__one">
                <a
                  target="_blank"
                  href="https://www.figma.com/proto/q2byMfJuo0PSchIqWxixKm/T.A.W-Project-Website--Sample-?node-id=4778-18899&t=Uz3O6BePnBSOr0GP-0&scaling=scale-down&content-scaling=fixed&page-id=2209%3A50&starting-point-node-id=4778%3A18899&hide-ui=1"
                >
                  Preview
                </a>
              </div>
              <!-- <div class="link__two">Case Study</div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="project__grid">
        <div class="project__mid">
          <div class="project__mid__bottomIvis"></div>
          <div class="project__mid__top">
            <div class="mid__top">
              <!-- <div class="project__number">03</div> -->
              <div class="project__heading">Issachar School</div>
            </div>
            <div class="project__text">
              A clean, modern, and user-friendly website designed to reflect the
              values and vision of Issachar School. The design emphasizes
              clarity, accessibility, and ease of navigation for students,
              parents, and staff. Key features include an intuitive homepage
              layout, and responsive design for seamless browsing on all
              devices. The color scheme and typography were carefully selected
              to align with the school’s branding while maintaining a welcoming,
              educational atmosphere.
            </div>
            <div class="btn__link">
              <div class="link__one">
                <a
                  target="_blank"
                  href="https://www.figma.com/proto/v5JrOGxPzCjigENbUi13tS/Figma-Design?node-id=1845-41&t=Uz3O6BePnBSOr0GP-0&scaling=scale-down-width&content-scaling=fixed&page-id=1352%3A1210&starting-point-node-id=1845%3A41&hide-ui=1"
                >
                  Preview
                </a>
              </div>
              <!-- <div class="link__two">Case Study</div> -->
            </div>
          </div>
        </div>
        <!-- Project Two -->
        <div class="project__mid">
          <div class="project__mid__bottomMiv"></div>
          <div class="project__mid__top">
            <div class="mid__top">
              <!-- <div class="project__number">04  </div> -->
              <div class="project__heading">MIV - Church Website Concept</div>
            </div>
            <div class="project__text">
              MIV is a modern, user-friendly website concept designed for a
              contemporary church community. The layout emphasizes clarity,
              warmth, and accessibility—featuring sections for sermons, events,
              ministries, and online giving. With a clean design and welcoming
              visuals, the site aims to connect and inspire both new visitors
              and longtime members.
            </div>
            <div class="btn__link">
              <div class="link__one">
                <a
                  target="_blank"
                  href="https://www.figma.com/proto/v5JrOGxPzCjigENbUi13tS/Figma-Design?node-id=1104-852&t=Uz3O6BePnBSOr0GP-0&scaling=min-zoom&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=1104%3A852&hide-ui=1"
                >
                  Preview
                </a>
              </div>
              <!-- <div class="link__two">Case Study</div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scrolling Projects -->
  <div class="marquee-wrapper">
    <om-marquee>
      <div class="card1" #OmMarqueeContent>
        <div class="card__guide">
          <p class="project__cover1">
            <!-- Live Preview -->
          </p>
          <!-- <p>Case Study</p> -->
        </div>
      </div>
      <div class="card2" #OmMarqueeContent>
        <div class="card__guide">
          <p class="project__cover1">
            <!-- Live Preview -->
          </p>
        </div>
      </div>
      <div class="card3" #OmMarqueeContent>
        <div class="card__guide">
          <p class="project__cover1">
            <!-- Live Preview -->
          </p>
        </div>
      </div>
      <div class="card4" #OmMarqueeContent>
        <div class="card__guide">
          <p class="project__cover1">
            <!-- Live Preview -->
          </p>
        </div>
      </div>
    </om-marquee>

    <om-marquee [reverse]="true">
      <div class="card5" #OmMarqueeContent>
        <div class="card__guide">
          <p class="project__cover1">
            <!-- Live Preview -->
          </p>
        </div>
      </div>
      <div class="card6" #OmMarqueeContent>
        <div class="card__guide">
          <p class="project__cover1">
            <!-- Live Preview -->
          </p>
        </div>
      </div>
      <div class="card7" #OmMarqueeContent>
        <div class="card__guide">
          <p class="project__cover1">
            <!-- Live Preview -->
          </p>
        </div>
      </div>
      <div class="card8" #OmMarqueeContent>
        <div class="card__guide">
          <p class="project__cover1">
            <!-- Live Preview -->
          </p>
        </div>
      </div>
    </om-marquee>

    <div class="marquee-gradient left"></div>
    <div class="marquee-gradient right"></div>
  </div>

  <div class="view">
    <div class="view__btn" (click)="allProjects()">View All Projects</div>
  </div>
</div>
<app-contact></app-contact>
