<div class="weddingcase">
  <div class="weddingcase__container">
    <div class="paragraph">
      <div class="about__cardd">
        <div class="about__cardCont">
          <p class="skill__title">
            Case Study: <br />
            Bespoke Wedding Website for Rebecca & Ayokanmi
          </p>
          <!-- <div class="back__btn center" (click)="onHome()">Back</div> -->
          <div class="skill__list">
            <hr />
            <p>
              Project Overview <br />
              This case study explores the creation of a custom-designed wedding
              website for Rebecca and Ayokanmi, crafted to encapsulate their
              unique love story and provide a seamless experience for both the
              couple and their guests. The website serves as a central hub for
              all wedding-related details, from event information to RSVP
              management, while offering personalized content that enhances the
              emotional connection with the couple's journey.
            </p>
            <hr />
            <p>
              Client Background <br />
              Rebecca and Ayokanmi, a couple with a deep appreciation for
              personalized and meaningful experiences, sought a digital space
              that reflected their shared love story and provided an easy-to-use
              platform for managing their wedding details. Their goal was to
              create an interactive, memorable experience for guests, while
              streamlining the logistics of the event through a simple and
              elegant online solution.
            </p>
            <hr />
            <!-- <p class="experience">Objectives</p> -->
            <p>
              Objectives<br />
              1. Create a personalized, visually appealing website that
              showcases the couple’s love story. <br />
              2. Provide an easy-to-navigate platform for guests to access
              wedding information, RSVP, and share in the couple's journey.
              <br />
              3. Integrate RSVP functionality to help manage guest lists, meal
              preferences, and attendance confirmations. <br />
              4. Ensure mobile responsiveness for a seamless experience on all
              devices, considering the variety of user preferences. <br />
              5. Incorporate interactive elements to engage guests and foster a
              sense of community leading up to the event.
            </p>
            <hr />
            <p>
              Research & Discovery <br />
              Before diving into the design process, I conducted a series of
              discovery sessions with Rebecca and Ayokanmi to gain a clear
              understanding of their vision, preferences, and wedding style.
              <br />
              We also explored the following: <br />
              - Design Inspiration: Rebecca and Ayokanmi’s wedding theme, color
              palette, and personal interests were key influences. They
              envisioned a blend of elegance with personal storytelling. <br />
              - Target Audience: The site needed to accommodate a wide range of
              guests—tech-savvy millennials, as well as older attendees so
              accessibility and simplicity were essential. I also explored
              similar wedding websites and analyzed user behaviors to identify
              pain points and opportunities for innovation in the wedding web
              space.
            </p>
            <hr />
            <p class="experience">Design Process</p>
            <p>
              1. Information Architecture & Wireframing <br />
              - I mapped out the website’s structure, considering essential
              pages such as Home, Our Story, Wedding Details, RSVP, Guestbook,
              and Gallery. <br />
              - Created wireframes to visualize the layout, ensuring the user
              flow was intuitive and that the most important content was front
              and center. <br />
              2. Visual Design <br />
              - Based on Rebecca and Ayokanmi’s preferences, I created a clean,
              sophisticated design that incorporated their color palette (blush,
              gold, and ivory) and their chosen wedding theme an elegant blend
              of classic and contemporary. <br />
              - Custom illustrations were used to represent significant moments
              in their relationship, offering a personal touch. <br />
              - Typography was chosen to reflect the couple’s personality
              elegant yet approachable. <br />
              3. RSVP Functionality <br />
              - Designed a simple yet elegant RSVP form that allowed guests to
              confirm their attendance and meal choices, with options to add
              special requests. <br />
              - Integrated a backend system to automatically update guest lists,
              send reminders, and notify the couple of any changes. <br />
              4. Interactive Features <br />
              - Developed a "Guestbook" feature where attendees could leave well
              wishes and memories for the couple, enhancing guest engagement.
              <br />
              - Added a photo gallery for the couple to upload engagement
              photos, behind-the-scenes moments, and wedding prep updates,
              creating an interactive space that evolved over time. <br />
              5. Mobile Responsiveness <br />
              - Ensured the website was fully responsive, adapting seamlessly to
              different screen sizes and devices for a flawless user experience
              on smartphones and tablets.
            </p>
            <hr />
            <p>
              Development & Implementation
              <br />
              Working closely with the development team, I ensured the design
              vision was brought to life with precision. The website was built
              using HTML5, CSS3, and JavaScript, with a robust backend for
              real-time updates on RSVP responses and guest list management.
              <br />
              Key technical aspects included: <br />
              - Backend Database Integration: For managing RSVPs, meal
              preferences, and guest information. <br />
              - Responsive Design: Ensured the site adapted fluidly to various
              devices and screen sizes. <br />
              - Content Management System (CMS): Developed a user-friendly CMS
              for the couple to easily update content, upload new photos, or add
              messages.
            </p>
            <hr />
            <p class="experience">Challenges</p>
            <p>
              1. Balancing Personalization & Simplicity: Striking the right
              balance between a personalized, detailed design and the need for a
              clean, simple user interface was challenging. I had to ensure that
              the site was visually captivating while still being easy to
              navigate for all users. <br />
              2. RSVP System Integration: Implementing an RSVP system that
              seamlessly tracked guest responses and preferences without
              overwhelming users was a technical challenge. I had to ensure the
              process was quick and user-friendly while providing the couple
              with the information they needed. <br />
              3. Cross-Device Functionality: Ensuring the website looked just as
              great on mobile phones as it did on desktops required fine-tuning
              for different screen sizes and resolutions.
            </p>
            <hr />
            <p>
              Results & Impact <br />
              - User Engagement: The website garnered positive feedback from
              both the couple and their guests. Visitors appreciated the
              personal touch, from the couple's love story to the
              easy-to-navigate RSVP system. <br />
              - Streamlined Logistics: The integrated RSVP system significantly
              reduced manual coordination. The couple could track responses in
              real-time and make any necessary adjustments, saving time and
              minimizing errors. <br />
              - Memorable Guest Experience: The interactive guestbook and
              gallery allowed for meaningful connections among guests, who
              enjoyed sharing memories and wishes for the couple. <br />
              - On-Time Delivery: The website was completed and launched two
              months before the wedding date, giving guests ample time to RSVP
              and interact with the site.
            </p>
            <hr />
            <p class="experience">Key Takeaways</p>
            <p>
              1. Personalization is Key: Adding unique, meaningful touches like
              custom illustrations, personalized stories, and interactive
              features can elevate a simple wedding website into something truly
              memorable. <br />
              2. User-Centered Design: Prioritizing the needs of the users
              whether it's the couple, their families, or the guests ensures the
              product is not only visually appealing but also functional. <br />
              3. Technical Execution Matters: A strong backend system is
              critical for managing the logistics of events and ensuring a
              smooth user experience.
            </p>
            <hr />
            <p class="experience">Conclusion</p>
            <p>
              This wedding website design successfully met the needs of both the
              couple and their guests. It not only provided a visually
              captivating experience but also delivered on functionality,
              ensuring ease of use and creating a memorable space for all
              involved. The project reinforced the importance of blending
              creativity with user-centered design to craft experiences that
              resonate deeply with the target audience.
            </p>
            <hr />
            <!-- <p>👋 Communication & Collaboration</p>
                <hr />
                <p>👋 Usability Testing</p>
                <hr />
                <p>👋 Content Strategy</p>
                <hr />
                <p>👋 Wireframing & User Flowcharts</p>
                <hr />
                <p>
                  👋 Front-End Development
                  <span class="inter">(Intermediate-level)</span>
                </p>
                <hr /> -->
          </div>
        </div>
        <br />
        <div class="back__btn center" (click)="onProject()">Previous</div>
      </div>
    </div>
  </div>
</div>
